body{
    overflow: hidden;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 90vh;
    flex-direction: column;



}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.buttons-row{
    display: flex;
    width: 90vw;
    justify-content: space-around;
    
    height: 65px;
}
.number{
    font-size: 40px;
    font-weight: 600;
    text-shadow: 3px black;
    color: black;
    text-align: center;
    justify-content: center;
}
.number-red{
    
    font-size: 40px;
    font-weight: 600;
    text-shadow: 3px rgb(242, 22, 22);
    color: rgb(242, 22, 22);
    text-align: center;
    
}
.buttons-row div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    

}
.navigation{
    width: 98vw;
    display: flex;
    justify-content: space-around;
    height: 5vh;
}
.navigation div{
    width: 6vw;
    
}
.place-for-numbers{
    display: flex;
    justify-content: flex-end;
    border-bottom: solid gray 2px;
    width: 100vw;
    height: 30vh;
    align-items: flex-end;
}
.number-style{
    font-size: 40px;
    font-weight: 600;
    text-shadow: 3px black;
    color: black;
    text-align: center;
  

}
.buttons-card{

    width: 5vw;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 3px black;
    color: black;
    text-align: center;
   display: flex;
   flex-direction: column;
   margin-top: 40px;
}
.buttons-row{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 100vw;
}
.card-content{
    padding-right: 100px;
    /* overflow: hidden; */
}
.icons-content{
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}